p {
  text-align: justify;
}

.main-wrapper {
  display: flex;
    flex-direction: column;
    align-items: center;
}


.padder {
  height: 2rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}


#slider {
  position: relative;
  -webkit-appearance: none;
  width: calc( 100% + 40px);
  background-color: transparent;
  outline: none;
}
#slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 50px;
  width: 50px;
  background: url("../images/slider-icon.svg"),
  rgba(255,255,255,0.3);
  border: 4px solid white;
  border-radius: 50%;
  background-size: contain;
  cursor: pointer;
}


#slider-container {
  display: flex;
  justify-content: center;
  visibility: hidden;
}
#slider-container > * {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.search-form {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#url-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#randomness {
  width: 40px;
  height: 40px;
  background: url("../images/randomness.svg") no-repeat;
  cursor: pointer;
}
#randomness:hover {
  transition-duration: 0.1s;
  transform: scale(1.2);
}


#info {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}

#heading {
  text-transform: uppercase;
  letter-spacing: .2rem;
}

#page {
  margin-top: 10vh;
}
